.navbar{
    border-radius: 0px;
    
}
#li{
    color:white;
    font-size: 18px;
    background:#4a76a8;
    transition: background 0.5s;
}
#li:hover{
    background:white;
    color: #00a1ba;
}
.icon-bar{
    background: white;
}
#drop{
    color: #00a1ba;
    background: #eee;
}
#drop:hover{
    background: white;
}
